# Ignore everything


# But not these files...
!.gitignore
!docker-compose.yml
!Dockerfile
!wp-config-render.php
!render.yaml
!composer.json
!.platform.app.yaml

# And not these folders...
!wp-content/
!.platform/

# But ignore everything in wp-content
wp-content/*

# Except the plugins and themes directories
!wp-content/plugins/
!wp-content/themes/

# But ignore all plugins except espbot
wp-content/plugins/*
!wp-content/plugins/espbot/

# But ignore all themes except espbot
wp-content/themes/*
!wp-content/themes/espbot/

# Ignore unnecessary files
*.log
.htaccess
*.sql
*.tar.gz
*.zip
wp-content/ai1wm-backups/
.DS_Store
Thumbs.db
