# Ignore everything
/*

# But not these files...
!.gitignore
!docker-compose.yml
!Dockerfile
!wp-config-render.php

# And not these folders...
!wp-content/

# But ignore everything in wp-content
wp-content/*

# Except the plugins directory
!wp-content/plugins/

# But ignore all plugins except espbot
wp-content/plugins/*
!wp-content/plugins/espbot/

# Ignore unnecessary files
*.log
.htaccess
*.sql
*.tar.gz
*.zip
wp-content/ai1wm-backups/
.DS_Store
Thumbs.db
